
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Dashboard - NiceAdmin Bootstrap Template</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
              <!-- Template Main CSS File -->
        <link rel="stylesheet" href="{% static 'dashboard/style.css'  %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

      </head>
      <body>
         <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'dashboard/logo.jpg' %}" alt="">
        <span class="d-none d-lg-block">Tracker Activity</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="../static/dashboard/logo.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->
  </header><!-- End Header -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">


            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Liste des utilisateurs </h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Nombre d'activité</th>
                        <th scope="col">date/heure de la dernière connexion</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                      <tr id="user-row-{{ user.email }}">
                        <th scope="row">{{ user.email }}</th>
                        <td>{{ user.prenom|add:" "}} {{ user.nom }}</td>
                        <td>{{ user.nb_activ }}</td>
                        <td>{{ user.last_login }}</td>
                        {% if user.is_superuser %}
                        <td><span class="badge bg-success">Activé</span></td>
                        {% else %}
                        <td><span class="badge bg-danger">Désactivé</span></td>
                        {% endif %}

                        <td> 
                          <button style="background: none; border: none; cursor: pointer;" onclick="disableUser('{{ user.email }}',this)">
                            {% if not user.is_superuser %}
                            <i class="fa-solid fa-circle-check" style="color: #03c700;"></i>
                            {% else %}
                           <i class="fa-solid fa-ban" style="color: #fa0000;"></i> 
                         {% endif %}
                        </button></td>
                        <td><button style="background: none; border: none; cursor: pointer;" onclick="deleteUser('{{ user.email }}')"><i class="fa-solid fa-trash fa-bounce" style="color: #ff0000;"></i></button></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>
  </main><!-- End #main -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script>
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
const authToken = getCookie('auth_token');
    function deleteUser(email) {
      fetch(`/apimob/delete/${email}/`, { 
    method: 'DELETE',
    headers: {
      'Authorization': `Token ${authToken}` 
  }})
    .then(response => {
      if(response.ok) {
        document.getElementById(`user-row-${email}`).remove();
      } else {
        alert('Erreur lors de la suppression de l’utilisateur');
      }
    });
}
function disableUser(email,buttonElement) {
  const escapedEmail = email.replace(/[@.]/g, "\\$&"); 
  const action = status ? 'disable' : 'enable';
  fetch(`/apimob/disable/${email}/`, { 
    method: 'PATCH',
    headers: {
      'Authorization': `Token ${authToken}`  
    }
  })
    .then(response => {
     if(response.ok) {
        const statusBadge = document.querySelector(`#user-row-${escapedEmail} .badge`);
        const icon = buttonElement.querySelector('i');
        if (statusBadge && icon) {
          // Mettez à jour l'état de l'utilisateur dans l'interface utilisateur
          if (statusBadge.textContent === 'Activé') {
            statusBadge.textContent = 'Désactivé';
            statusBadge.classList.remove('bg-success');
            statusBadge.classList.add('bg-danger');

            
            icon.classList.remove('fa-ban');
            icon.classList.add('fa-circle-check');
            icon.style.color = "#03c700";


          } else {
            statusBadge.textContent = 'Activé';
            statusBadge.classList.remove('bg-danger');
            statusBadge.classList.add('bg-success');

            icon.classList.remove('fa-circle-check');
            icon.classList.add('fa-ban');
            icon.style.color = "#fa0000";

          }
        }
      } else {
        alert('Erreur lors de la désactivation de l’utilisateur');
      }
    });
}
  </script>
      </body>

</html>