<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const firebaseConfig = {
  apiKey: "AIzaSyCmTIcFGpM7Dvue4AaveWy7X4iSozsKnto",
  authDomain: "dashboard-101c3.firebaseapp.com",
  projectId: "dashboard-101c3",
  storageBucket: "dashboard-101c3.appspot.com",
  messagingSenderId: "118658510273",
  appId: "1:118658510273:web:ff980148890cdcef801340",
  measurementId: "G-ZB3C7WL2MS"
};
firebase.initializeApp(firebaseConfig);

function googleLogin() {
  var provider = new firebase.auth.GoogleAuthProvider();
  firebase.auth().signInWithPopup(provider).then(function(result) {
    // Le token d'authentification Firebase
    var token = result.credential.idToken;
    console.log(result.credential.idToken);
    $.ajax({
    url: '/login_firebase/',  // L'URL de votre vue Django pour traiter le token
    method: 'POST',
    data: {
      'token': token
    },
    success: function(response) {
      // Traitement en cas de succès (ex : redirection ou mise à jour de l'interface utilisateur)
      console.log('Token vérifié avec succès');
      console.log('Token décodé :', response);
      // Redirection vers la page d'accueil, par exemple
    },
    error: function(error) {
      // Traitement en cas d'erreur
      console.error('Erreur lors de la vérification du token:', error);
    }
  });
    // Envoyer le token au serveur Django pour vérification
    // Vous pouvez utiliser AJAX ou rediriger avec le token en tant que paramètre
  }).catch(function(error) {
    console.log(error);
  });
  console.log(firebase.auth());
  firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
   console.log(idToken);  // ...
}).catch(function(error) {
  // Handle error
});
}

</script>

<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<button onclick="googleLogin()">Connexion avec Google</button>